@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');

:root {
    --primary: #F2C94C;
    --black: #333333;
    --width-break: 600px;
}

*{
    margin: 0%;
}

h1, h4, p, a{
    margin: 0px;
}

nav{
   height: 10vh;
   background-color: var(--primary);
   
}

body{
    font-family: 'Capriola', sans-serif;

}

textarea {
    width: 80%;
    height: 10vh;
    display: block;
    /* margin: 1rem;
    padding: 1rem; */
}



#output {
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
}

.heading{
    background-color: var(--primary);
    text-align: center;
    font-family: 'Capriola', sans-serif;

}

main{
    height: 65vh;
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
    
}



#btn-translate, #btn-clear{
    background-color: var(--primary);
    border: none;
    margin: 0rem ;
    padding: 1rem;
} 

#txt-output{
    margin: 0%;
}

#translate-output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid var(--black);
}



